body {
    margin: 0px;
}

#navbar-items {
    display: flex;
    float: right;
}

#top-section {
    position: sticky;
    z-index: 3;
    top: 0;
    /* Higher z-index to ensure it’s on top */
}

#nav {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#home-icon {
    float: left;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#top-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

body {
    background-color: #111;
}

.container {
    background-color: #fff;
}

html body {
    background: linear-gradient(180deg, #59b2fc, #7dcdff, #a9d4ff, #d9e2ff);
}

#resume {
    background-color: #5793d5;
}

footer {
    background-color: #333;
    height: 200px;
}

footer>p {
    color: rgb(211, 206, 206);
}

.svg-container:hover {
    background-color: #5793d5;
    opacity: 1;
    transition: 0.3s;
}

.svg-container {
    height: 60px;
    width: 60px;
    opacity: 0.6;
}

#arrow {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

#arrow:hover {
    top: 10px;
}


/* Initially hide the element */

.fade-in-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}


/* When the element is in view, apply this class */

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.node {
    width: 30px;
    height: 30px;
    background-color: #5793d5;
    border: 4px solid #90bbeb;
    border-radius: 50%;
    z-index: 1;
}

.timeline-container {
    height: 200px;
    width: 80%;
}

.actual-timeline {
    background-color: #5793d5;
    height: 10px;
    border: 2px solid black;
    border-radius: 12px;
    padding: 5px;
}

.above-node {
    top: -90px;
    position: absolute;
    /* Pushes the content above the node upwards */
    color: #333;
    font-size: 14px;
    text-align: center;
}

.below-node {
    color: #333;
    margin-top: 50px;
    font-size: 14px;
    text-align: center;
    position: absolute;
}

.node-container {
    position: relative;
    width: 100px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    /* positioning right */
    top: -5px;
    left: 105%;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}